<!DOCTYPE html>
<html>
<head>
	<title>WUNDER itinerary upload</title>
	<style>
		body {
			float: center;
			background: url("images/IMG00.JPG") no-repeat;
			background-size: cover;
			background-color: rgba(0,0,0,0.5);
			background-blend-mode: lighten;
			margin-left: 5%;
		}
		.text {
			background-color: rgba(233,233,233,0.5);
		}
	</style>
</head>
<body>
	<h1> Upload Your Wunder Memory!</h1>
	<form class='text' id="upload-form" method="post" action="upload/">
		{% csrf_token %}
		{{ profile_form }}
		<input type="submit" value="Submit" />
	</form>

	<form class='text' id="upload-form" method="post" action="wunder/it/">
		{% csrf_token %}
		{{ it_form_1 }}
		
		{% autoescape off %}
		{{ separate_1 }}
		{% endautoescape %}

		{{ it_form_2 }}
		
		{% autoescape off %}
		{{ separate_2 }}
		{% endautoescape %}

		{{ it_form_3 }}

		{% autoescape off %}
		{{ input_str }}
		{% endautoescape %}
		  		  		
	</form>

</body>
</html>